<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board 수정 화면</title>
    <link rel="stylesheet" th:href="@{/post.css}">
</head>
<body>
<h1>Board 수정</h1>
<form th:action="@{/boards/edit(id=${board.id})}" method="post" th:object="${board}">
<div>
    <label for="name">이름:</label>
    <input type="text" id="name" th:field="*{name}" required />
    <br/>
    <label for="title">제목:</label>
    <input type="text" id="title" th:field="*{title}" required />
    <br/>
    <label for="content">내용:</label>
    <br/>
    <textarea type="text" id="content" th:field="*{content}" required class="large-textarea"/>
    <br/>
    <strong>비밀 번호 입력(인증):</strong><br/>
    <input type="password" id="password" name="password"/>
    <p th:if="${error}" style="color: red;" th:text="${error}"></p>
    <br/><br/>
    <button type="submit">수정하기</button>
</div>
</form>
</body>
</html>